<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h3><a href="/">Main page</a></h3>
    <h1>Teachers</h1>
    <div class="mother_div">
      <div class="row_div">
        <div class="num_div">No.</div>
        <div class="name">Name Patronymic Surname</div>
        <div class="small_number">Age</div>
        <div class="subject">Subject</div>
      </div>
      {%for i in data%}
      <div class="row_div">
        <div class="num_div">{{forloop.counter}}.</div>
        <div class="name">{{i}}</div>
        <div class="small_number">{{i.age}}</div>
        <div class="subject">{{i.subject}}</div>
      </div>
      {%endfor%}
    </div>
  </body>
</html>
