<!DOCTYPE html>
<html>
  <head>
    <title>Create Teacher</title>
  </head>
  <body>
    <h2>Create a New Teacher</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>

    {% if form.errors %}
    <!-- <ul class="errorlist">
      {% for field in form %} {% if field.errors %}
      <li>{{ field.label_tag }}: {{ field.errors|striptags }}</li>
      {% endif %} {% endfor %}
    </ul> -->
    <h1>ERROR</h1>
    {% endif %}
  </body>
</html>
