.row_div {
  display: flex;
  flex-wrap: wrap; /* Allow children to wrap to the next row */
  justify-content: flex-start; /* Align children to the start of the container horizontally */
}

.num_div {
  width: 7%;
}

.name {
  width: 25%;
}

.small_number {
  width: 6%;
}

.bl-1 {
  border: 1px solid black;
}

.del_btn {
  color: white;
  background-color: red;
}
