<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
  </head>
  <body>
    <h1>Links</h1>
    <ul>
      <li>Teachers</li>
      <ul>
        <li><a href="/create_teacher/">Create teacher</a></li>
        <li><a href="/edit_teacher/">Edit teacher</a></li>
        <li><a href="/delete_teacher/">Delete teacher</a></li>
        <li><a href="/teachers/">All teachers</a></li>
      </ul>
      <li>Groups</li>
      <ul>
        <li><a href="/group/">Create group</a></li>
        <li><a href="/groups/">All groups</a></li>
      </ul>
      <li>Students</li>
      <ul>
        <li><a href="/create_student/">Create student</a></li>
        <li><a href="/edit_student/">Edit student</a></li>
        <li><a href="/delete_student/">Delete student</a></li>
        <li><a href="/students/">All students</a></li>
      </ul>  
    </ul>
  </body>
</html>
