<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
  </head>
  <body>
    <h1>Links</h1>
    <ul>
      <li>Teachers</li>
      <ul>
        <li><a href="/create_teacher/">Create teacher</a></li>
        <li><a href="/list_of_teachers/">All teachers</a></li>
      </ul>
      <li>Groups</li>
      <ul>
        <li><a href="/create_group/">Create group</a></li>
        <li><a href="/groups/">All groups</a></li>
      </ul>
      <li>Students</li>
      <ul>
        <li><a href="/create_student/">Create student</a></li>
        <li><a href="/list_of_students/">All students</a></li>
      </ul>
    </ul>
    <h2>Notes:</h2>
    <p>
      - to edit or delete sutdent or to add group to student, student to be
      choosen in "<a href="/list_of_students/">All students</a>" view.
    </p>
    <p>
      - to edit or delete teacher, student to be choosen in "<a
        href="/list_of_teachers/"
        >All teachers</a
      >" view.
    </p>
  </body>
</html>
